body {
    background-color: rgb(246, 248, 249);
    font-family: 'Roboto', sans-serif;
}

h1 {
    display: inline-block;
    vertical-align: middle;




}

#logo {
    vertical-align: middle;




}

header {
    background-color: white;

}

nav {
    background-color: white;
    height: 40px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 20px;
    padding-top: 35px;
}

.addtask {
    display: inline;
    width: 75px;
    height: 15px;
    background-color: #00bfff;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;
}

.addsection {
    display: inline;
    width: 75px;
    height: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: lightgray;
    border: 2px solid;
    border-color: lightgray;
    margin-left: 2px;
}

main {
    background-color: white;
    height: 480px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 2px;
    padding-left: 20px;
    padding-top: 35px;
    

}

ul{list-style: none;

}

.elementg{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid green;
    vertical-align: middle;
    line-height: 20px;
    border-radius: 50%;
    margin: 7px 7px 7px 7px;
    text-align: center;



    

}

.botton{display: inline-block;
    width: 75px;
    height: 20px;
    background-color: rgb(43, 162, 209);
    border-radius: 40px;
    
    text-align: center;
    
    color: white;


}

.botton2{display: inline-block;
    width: 75px;
    height: 20px;
    background-color: rgb(168, 71, 224);
    border-radius: 40px;
    
    text-align: center;
    
    color: white;


}

.botton3{display: inline-block;
    width: 75px;
    height: 20px;
    background-color: rgb(63, 153, 78);
    border-radius: 40px;
    
    text-align: center;
    
    color: white;


}

.botton4{display: inline-block;
    width: 75px;
    height: 20px;
    background-color: rgb(226, 110, 16);
    border-radius: 40px;
    
    text-align: center;
    
    color: white;


}


.elementr{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid red;
    vertical-align: middle;
    line-height: 20px;
    border-radius: 50%;
    margin: 7px 7px 7px 7px;
    text-align: center;



    

}