body {
    background-color: rgb(246, 248, 249);
    font-family: 'Roboto', sans-serif;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    



}

#logo {
    vertical-align: middle;




}

header {
    background-color: white;

}

nav {
    background-color: white;
    height: 40px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 20px;
    padding-top: 35px;
}

.addtask {
    display: inline;
    width: 75px;
    height: 15px;
    background-color: #00bfff;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white; 
}

.addsection {
    display: inline;
    width: 75px;
    height: 15px;
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: lightgray;
    border: 2px solid;
    border-color: lightgray;
    margin-left: 2px;
}